{
  "extends": "@antfu",
  "rules": {
    "curly": "off",
    "@typescript-eslint/brace-style": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "max-statements-per-line": ["error", { "max": 2 }],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "local",
        "args": "none",
        "ignoreRestSiblings": true,
        "caughtErrors": "none"
      }
    ],
    "@typescript-eslint/comma-dangle": "off",
    "unused-imports/no-unused-vars":"off"
  }
}
